/* CognitiveStyles.module.css */

/* Define a common class for row height */
.row-height {
  height: 40px; /* Default height for larger screens */
}

/* Media query to adjust row height for smaller screens */
@media screen and (max-width: 768px) {
  .row-height {
    height: 80px; /* Adjusted height for smaller screens */
  }
}

/* Define a class for desktop row height */
.row-height-desktop {
  height: 60px; /* Adjusted height for desktop screens */
}
